{% extends 'base.html' %}

{% block title %}
{{object.content}}
{% endblock %}
{% block content %}
<div class = "container-fluid top">
  <div class="row ">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 text-center" style="padding: 1em;"> 
	<h1 ><b>Q {{ object.content }}?</b>
    {% if user.is_authenticated %}
          <button  class=" btn-sm btn vote-button" name="{{ object.id }}" style=" border:2px solid #404040">
          {{ question_vote }} |
          {{ object.total_votes}}
          </button>
    {% endif %}
  </h1>
  </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      
    {% if user.is_authenticated %}
      <div class="panel panel-default " style="background-color: #EEEEEE;">
        <div class="panel-body">
	<form method="POST"> {% csrf_token %}
		{{form.as_p}}
		<button type='submit' style="float:right;">Submit</button>
	</form>
</div>
</div>
{% endif %}
	{% for ans,name in array%}
  <div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default " style="background-color: #EEEEEE;">
    <div class="panel-body">
      <h5><b>{{ ans.answered_by }}</b> <b>&middot</b> {{ans.timestamp}} </h5>
		<p>{{ ans.text }}</p>
		{% if user.is_authenticated %}
        <i class="glyphicon glyphicon-arrow-up"></i>
        	<a style="cursor:pointer;" class="upvote-button" name="{{ ans.id }}">
        	{{ name }} | {{ ans.total_upvotes}}
        	</a>
		{% endif %}
  </div>
</div>
</div>
  </div>
	{% endfor %}
</div>
<div class="col-sm-2"></div>
</div>





<script>
    $(".upvote-button").click(function(e){
  e.preventDefault();
  $.ajax({
    type: 'POST',
    url: "{% url 'doubts:upvotes' %}",
    data: {'pk': $(this).attr('name'), 'csrfmiddlewaretoken': '{{csrf_token}}'},
    dataType: "json",
    success: function(response){
      $(e.target).text( response.name + " | " + response.upvotes_count);
    },
    error: function(rs, r){
      alert("error");
    }
  });
});

$(".vote-button").click(function(e){
  e.preventDefault();
  $.ajax({
    type: 'POST',
    url: "{% url 'doubts:votes' %}",
    data: {'pk': $(this).attr('name'), 'csrfmiddlewaretoken': '{{csrf_token}}'},
    dataType:"json",
    success: function(response){
      $(e.target).text( response.name + " | " + response.upvotes_count);
    },
    error: function(rs, r){
      alert("error");
    }
  });
});

</script>

<style>
.navbar{
  background-color: #404040;
}

body{
  padding-top: 65px;
  font-family: 'Fira Sans', sans-serif;
  {% load staticfiles %}
  background-image: url('{% static 'media/images/blog_background1.jpg' %}');
  background-attachment: fixed;
}

.top{
      width:80%;
    background-color: #fff;
    border-radius:1em;
}

@media (max-width: 768px){ 
  body{
    padding-top: 0px;
  }
  .side{
    display:inline-block;
    float:center;
  }
  .container-fluid{
    padding-top: 10px;

  }
}

</style>
{% endblock content %}