.home-layout {
    font-family: 'Cabin Sketch', sans-serif;
}

.jumbotron {
    background-size: cover;
    background-attachment: fixed;
    color: #ffffff;
    overflow: hidden;
    font-family: 'Cabin Sketch', sans-serif;
    font-weight: 400;
    position: relative;
    font-size: 100px;
    margin: 0px;
}

.text-carousel {
    font-weight: 400;
    letter-spacing: 0.20vh;
    font-size: 2em;
    display: inline-block;
}


.footer{
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  width: 100%;
}

.footer p{
   display: inline-block;
  color: #ffffff;
}

.details i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}
.details p{
  margin-right: 6em;
}

.video-section {
    margin: 50px 0px;
}

.video-desc {
    color: #000;
    font-size: 20px;
}

@media (max-width: 768px){
  .details p{
    margin-right: 1em;
  }
}

@media (min-width: 768px) {
    .video-section {
        margin: 50px 50px;
    }
    .video-box {
        padding: 0px 20px;
    }
}

