{% extends "base.html" %}
{% load static %}

{% block local_styles %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
{% endblock %}

{% block local_scripts %}
{% endblock %}

{% block title %}
    Future Links Academy - Previous Year Papers
{% endblock %}

{% block content %}
    <div id="about" class="content">
      <div class="row about-us-content">
        <div class="col-sm-7">
          <h2 class="about-heading">About Rajat Sardana</h2><br>
          <p>
              Rajat Sardana is the founder of Future Links Academy and Head of Physics Department at Manish Papneja Memorial Public School, Ismailabad.
          </p><br>
          <p>He has been teaching students in Science since 2015. After doing Masters in Physics from Deenbandhu Chhotu Ram University of Science and Technology, Murthal, he started teaching students in school as well as mark his presence over internet through online lectures. His core value is to change lives of millions using technology. He sees the future of teaching and education through the use of Tecnhnology.</p>
        </div>
        <div class="col-sm-5">
          <img class="img-responsive" src="{% static 'images/rajat_sardana.png' %}">
        </div>
      </div>
    </div>
{% endblock content %}