{% extends 'base.html' %}
{% block title %}
About Us
{% endblock %}

{% block content %}

<div class="container-fluid " style="background-color: #DCDCDC;">
  <div class="row">
  	<div class="col-sm-1"></div>
    <div class="col-sm-10">
    	<br>
      	<center> <b><h1>Who are we?</h1></b>
      <h3>Future Links Academy is a group of professional teachers who believes that education should be creative, Skill based and innovative in the current era of technology instead of rot learning and industry specific. </h3><br>
      </center>
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>
<br>
<div class="container-fluid">
  <div class="row">
  	    {% load static %}
  	    <div class="col-sm-3" >
  	    	<div class="col-sm-4" ></div>
  	    	<img src="{% static 'media/images/rajatt.jpg' %}" style="width:10em; height:10em; border-radius: 10em;">
  		</div>
    <div class="col-sm-9">
      <h2 style="margin-top:0em;">Rajat Sardana, Founder</h2>
      <h4>M.Sc(Physics), B.ed, B.Sc</h4> 
      <p>Rajat Sardana is currently working as head of Physics department in XYZ School, Kurukshetra. He holds a Master Degree in Physics from DCRUST, Murthal. Rajat combines his years of wisdom, wit and creativity to his passion to help others.He tries his level best to break the old ways of study which is not suitable today and he always thinks of new ways for producing leaders of future.</p>
    </div>
</div>
</div>

<br><br><br>
<div class="container-fluid">
  <div class="row">
  	    {% load static %}
  	    <div class="col-sm-3" >
  	    	<div class="col-sm-4" ></div>
  	    	<img src="{% static 'media/images/gtt.jpg' %}" style="width:10em; height:10em; border-radius: 10em;">
  		</div>
    <div class="col-sm-9">
      <h2 style="margin-top:0em;">Geetika Takkar, Co-Founder </h2>
      <h4>MCA, M.Sc(Computer Science), B.ed, B.Sc</h4> 
      <p>She is the co-Founder and Ex-faculty at F L Academy. She is very passionate about education and has a unique style of teaching. She likes talking and cooking. </p>
    </div>
  </div>
</div>


<br><br><br>
<div class="container-fluid">
  <div class="row">
  	    {% load static %}
  	    <div class="col-sm-3" >
  	    	<div class="col-sm-4" ></div>
  	    	<img src="{% static 'media/images/arshit.jpg' %}" style="width:10em; height:10em; border-radius: 10em;">
  		</div>
    <div class="col-sm-9">
      <h2 style="margin-top:0em;">Arshit, Co-Founder </h2>
      <h4>B.tech(PGP), Diploma(Packaging Technology)</h4> 
      <p>He is the co-founder as well as Motivational Speaker at F L Academy who has inspired many students through his thoughts. Currently, He likes Singing, watching movies and playing badminton.</p>
    </div>
  </div>
</div>


  </div>
</div>
<br><br><br>
<div class="container-fluid">
  <div class="row">
  	    {% load static %}
  	    <div class="col-sm-3" >
  	    	<div class="col-sm-4" ></div>
  	    	<img src="{% static 'media/images/pic.jpg' %}" style="width:10em; height:10em; border-radius: 10em;">
  		</div>
    <div class="col-sm-9">
      <h2 style="margin-top:0em;">Shashank, Developer </h2>
      <h4>B.tech(IT) Student at YMCA UST</h4> 
      <p>He is the person behind technologies used at F L Academy. He is a programmer, innovator and technology explorer who is currently working on how various technologies can be used to improve education. He has also taught many students at F L Academy. </p>
    </div>
  </div>
</div>




	<style>
.navbar{
  background-color: #404040;
}

body{
  padding-top: 50px;
  font-family: 'Fira Sans', sans-serif;
}
@media screen and (max-width: 768px){
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
    body{
  padding-top: 0px;
}
}
</style>
{% endblock content %}