<html>
<head>
    {% load static %}
    {% load widget_tweaks %}

    {% block styles %}
        <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/libs/bootstrap.min.css' %}">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" rel="stylesheet" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="{% static 'css/libs/animate.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/common/base.css' %}">
    {% endblock %}

    {% block local_styles %}
    {% endblock %}

    {% block scripts %}
        <script src="{% static 'js/libs/jquery-3.4.1.min.js' %}"></script>
        <script src="{% static 'js/libs/bootstrap.min.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"></script>
        <script src="{% static 'js/libs/jquery.lettering-0.6.1.min.js' %}"></script>
        <script src="{% static 'js/libs/jquery.textillate.js' %}"></script>
        <script src="{% static 'js/common/base.js' %}"></script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-167087184-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-167087184-1');
        </script>

    {% endblock %}

    <title>{% block title %}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="pMOfTZwQ9FdrZEP2x6YMXxan7KiWxOcgrQ3eGomfjnQ" />
</head>
<body>


<nav class="navbar navbar-default navbar-fixed-top solid">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-center">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'notes:notes_home' %}">Notes</a></li>
                <li><a href="{% url 'notes:notes_home' %}">Previous Year Papers</a></li>
                <li><a href="{% url 'notes:notes_home' %}">About</a></li>
            </ul>
        </div>
    </div>
</nav>

<div>
    {% block content %}
    {% endblock content %}
</div>

{% block local_scripts %}
{% endblock %}

</body>
</html>
