{% extends "base.html" %}
{% load static %}

{% block local_styles %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block local_scripts %}
    <script src="{% static 'js/home.js' %}"></script>
{% endblock %}

{% block title %}
    Future Links Academy
{% endblock %}

{% block content %}
    <div class="home-layout">
        <div class="jumbotron" style="background-image: url('{% static 'images/board2.jpg' %}');">
            <div class="center-div container-fluid">
                <h1 class="tlt">Future Links Academy</h1>
                {#            <div class="text-carousel container-fluid">#}
                {#                <h4 >"We are investing our knowledge,experience,efforts <br>to make your child creative"<span></span></h4>#}
                {#                <h4>"The more you learn, the more you earn"</h4>#}
                {#                <h4>"See the future of your child with our vision"</h4>#}
                {#            </div>#}
            </div>
        </div>
        <div class="container-fluid">
            <h2 class="text-center heading "><strong>DIGITAL CLASSES</strong></h2>
            <div class="row video-section">
                <div class="col-sm-6" >
                    <p class="video-desc">
                        Future Links digital classes are online classes provided by brilliant teachers of Future Links Academy.
                    </p>
                    <p class="video-desc">
                        Our vision is to improve learning through the use of modern technology.
                        We are student centric and do our best to improve the learning experience of students.
                        We believe that the fun way of learning is the best way so that the student should learn everything by heart.
                    </p>
                </div>
                <div class="col-sm-6 video-box">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/1upxTnZ63U4"
                            frameborder="0" allow="fullscreen" allowfullscreen>
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
