{% extends "base.html" %}
{% block title %}
Future Links Academy Homepage
{% endblock %}

{% block content %}
  {% load staticfiles %}

	<div class="jumbotrono">
    <div class="row cover" >
  <h1 id="main-heading" >Future Links<br> Academy</h1>

<div id="myCarousel" class=" hidden-xs col-sm-12 carousel slide text-center" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <div class="item active" >
    <h4 >"We are investing our knowledge,experience,efforts <br>to make your child creative"<span></span></h4>
    </div>
    <div class="item" >
      <h4>"The more you learn, the more you earn"</h4>
    </div>
    <div class="item" >
      <h4>"See the future of your child with our vision"</h4>
    </div>
  </div>

</div>
</div>
</div>

<div class="container-fluid" style="background-image: url('{% static 'media/images/home2.jpg' %}');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100%;
">
  <div class="text-center">
    <h2 style="font-family: 'Josefin Slab';  color: #fff; font-weight: 1000; font-size: 6em;">Courses</h2><br>
  </div>
  <div class="row" style="margin-left: 40px; margin-right: 40px;">
   <div class="col-sm-4">
    <div class="col-sm-11"> 
      <div class="panel panel-default text-center">
        <div class="heading" >
          <h2><b>Grades 5<sup>th</sup> to 8<sup>th</sup></b></h2>
          <h3><b>All</b> Subjects</h3>
        </div>
        <div class="panel-body" style="padding-top: 2em; text-align: left;">
          <ul class="fa-ul">
              <li ><i class="fa-li fa fa-check"></i>Full syllabus coverage + Revision at the end</li>
              <li><i class="fa-li fa fa-check"></i> Regular classes under fixed schedule</li>
              <li><i class="fa-li fa fa-check"></i> Easy monthly installments</li>
              <li><i class="fa-li fa fa-check"></i> Regular subjective and objective tests and assignments</li>
              <li><i class="fa-li fa fa-check"></i> Regular Parent - Teacher meetings and Reports</li>
          </ul>
          <div class="text-center">
          <button type="button" class="btn btn-lg" data-toggle="modal" data-target="#myModal1">View Details</button></div>
        </div>
      </div> 
    </div>
    </div> 



       <div class="col-sm-4 second">
    <div class="col-sm-11"> 
      <div class="panel panel-default text-center">
        <div class="heading" >
          <h2><b>Grades 9<sup>th</sup> and 10<sup>th</sup></b></h2>
          <h3><b>Science</b> and <b>Maths</b></h3>
        </div>
        <div class="panel-body" style="padding-top: 2em; text-align: left;">
          <ul class="fa-ul">
              <li ><i class="fa-li fa fa-check"></i>Science and Maths Syllabus according to CBSE/HBSE Board </li>
              <li><i class="fa-li fa fa-check"></i> Regular classes under fixed schedule</li>
              <li><i class="fa-li fa fa-check"></i> Revision at the end and Weekly Doubt sessions </li>
              <li><i class="fa-li fa fa-check"></i> Regular subjective and objective tests and assignments</li>
              <li><i class="fa-li fa fa-check"></i> Regular Parent Reports</li>
          </ul>
          <div class="text-center" style="vertical-align: bottom;">
          <button type="button" class="btn btn-lg" data-toggle="modal" data-target="#myModal2">View Details</button></div>
        </div>
      </div> 
    </div>
    </div> 



  <div class="col-sm-4 third">
    <div class="col-sm-11"> 
      <div class="panel panel-default text-center">
        <div class="heading" >
          <h2><b>Grades 11<sup>th</sup> and 12<sup>th</sup></b></h2>
          <h3><b>PCM</b>( Board + JEE Mains)</h3>
        </div>
        <div class="panel-body third" style="padding-top: 2em; text-align: left;">
          <ul class="fa-ul">
              <li ><i class="fa-li fa fa-check"></i>Experienced teachers for individual subjects</li>
              <li><i class="fa-li fa fa-check"></i> Regular classes under fixed schedule</li>
              <li><i class="fa-li fa fa-check"></i> Weekly Doubt Sessions</li>
              <li><i class="fa-li fa fa-check"></i> Regular Subjective Tests on Board Pattern</li>
              <li><i class="fa-li fa fa-check"></i> Regular Objective Tests on JEE Mains Pattern</li>
          </ul>
          <div class="text-center">
          <button type="button" class="btn btn-lg" data-toggle="modal" data-target="#myModal3">View Details</button></div>
        </div>
      </div> 
    </div>
    </div> 
</div>


<!-- Modal -->
<div id="myModal1" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Grades 5<sup>th</sup> to 8<sup>th</sup></h4>
      </div>
      <div class="modal-body">
        <p>
        F L Academy's CBSE Long term course is designed to be a complete course to cover the entire syllabus designed by CBSE board and is geared towards bringing maximum performance from a child.
        <ul style="font-size:2em;">
          <li>Batches with maximum strength of 25-30 Students.</li>
          <li>NCERT books will be followed.</li>
          <li>Entire syllabus will be convered by end of February.</li>
          <li>All chapters and concepts will be taught in detail.</li>
          <li>Post every chapter there will be tests and assignments which will be solved and discussed.</li>
        </ul>
      </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


<div id="myModal2" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Grades 9<sup>th</sup> and 10<sup>th</sup></h4>
      </div>
      <div class="modal-body">
        <p>F L Academy's CBSE Long term course prepares students to excel in Maths and Science. It is designed to complete the entire years Maths and Science Syllabus. This course clearly helps student get an early edge and also helps to instill confidence in the child.</p>
        <ul style="font-size:2em;">
          <li>Batches with maximum strength of 25-30 Students.</li>
          <li>NCERT books and some reference books will be followed.</li>
          <li>Entire syllabus will be convered by end of February.</li>
          <li>All chapters and concepts will be taught in detail.</li>
          <li>Weekly Tests and Doubt Sessions are conducted</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>




<div id="myModal3" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Grades 11<sup>th</sup> and 12<sup>th</sup></h4>
      </div>
      <div class="modal-body">
        <p>
          F L Academy's JEE Main + Board course provides a chance to study from best teachers for JEE coaching in extremely personalised batches. This course is designed in such a unique way that it ensures excellent preparation for both JEE Mains exam as well as school board examinations.
       <ul style="font-size:2em;">
          <li>Batches with maximum strength of 25-30 Students.</li>
          <li>NCERT books and some reference books will be followed.</li>
          <li>Entire syllabus will be convered by end of February.</li>
          <li>All chapters and concepts will be taught in detail.</li>
          <li>Weekly Tests and Doubt Sessions are conducted</li>
        </ul>
      </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

</div>


<!-- footer -->
  <div class="container-fluid footer" style="background-color: #404040; color: #fff; margin-left: 0em;">
  <h2 class="text-center" style="font-family: 'Josefin Slab'; font-size: 2em; font-weight: 600;">CONTACT US</h2>
  <div class="row">
    <div class="col-sm-12 text-center" >
        <div class="details">
          <i class="fa fa-map-marker"></i>
          <p style=" ">Behind Matrix Saloon , Pehowa</p>
          <i class="fa fa-phone"></i>
          <p> +919896761614 </p>
          <i class="fa fa-envelope"></i>
          <p>success93rajat@gmail.com</p>
        </div>
          <div class="footer-icons">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-github"></i></a>
        </div>
    </div>
  </div>
</div>








<style>

  body{
    font-size: 100%;
  }

.jumbotrono { 
    background-image: url('{% static 'media/images/board2.jpg' %}');
    background-size: cover;
    background-attachment: fixed;
    color: #ffffff;
    height: 50em;
    margin-top: 0;
}
.cover{
    height: 50em; 
    width: 160em;
    display: table-cell;
    vertical-align: middle;
}
#main-heading{
    font-family: 'Cabin Sketch', sans-serif;
    font-weight: 400;
    font-size: 8em;
    margin-top:0.35em;
    letter-spacing: 0.02em;
}

p{
  font-size: 1.8em;
}
.cover h1{
  text-align: center;
}

.carousel-control.left {
    background-image: none;
    box-shadow: none;
}
.carousel-inner .item{
  text-align: center;
  font-family: 'Cabin Sketch';
  font-weight: 400;
  letter-spacing: 0.20vh;
  font-size: 2em;
}

.carousel-inner .item h4{
  font-size: 1.2em;
}
.panel {
    border-radius:0.4em;
    transition: box-shadow 0.5s;
    font-family: 'Fira Sans', sans-serif;

}

.panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}


.heading {
    color:#fff;
    font-size:1.5em;
    padding-top: 0.8em;
    padding-left: 1.5em;
    background-color: rgba(244,81,30,0.8);
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0.2em;
    border-top-right-radius: 0.2em;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    text-align: left;
}

.panel-body{
  padding-top: 2em;

}
.footer{
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  width: 100%;
  font: 1em sans-serif;

}

.footer p{
   display: inline-block;
  color: #ffffff;
  font-size: 1.5em;
}

.details i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}
.details p{
  margin-right: 5em;
}
.footer-icons{
  vertical-align: middle;

}

.footer-icons i{
  background-color:  #33383b;
  color: #ffffff;
  border-radius: 10%;
  font-size: 25px;
  width: 38px;
  height: 38px;
  text-align: center;
  line-height: 1.5em;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
  vertical-align: middle;
}
        
.panel-body li{ /* first well;*/
list-style-type:none;
font-size: 1.8em;
}

.panel-body .btn {
    border: 1px solid #f4511e;
    background-color: #fff !important;
    color: #f4511e;
    margin: 15px 0;
    border-top-left-radius: 3em;
    border-top-right-radius: 3em;
    border-bottom-left-radius: 3em;
    border-bottom-right-radius: 3em;
}
.third .panel-body .btn{
  border: 1px solid #90ce51;
  color: #90ce51;
}
.second .panel-body .btn{
  border: 1px solid #a05be5;
  color: #a05be5;
}
.panel-body{
  color:#808080;
  font-size: 0.8em;
}
.panel-body li{
  margin-bottom: 1.2em;
}
.panel-body:hover{
  background-color: rgba(244,81,30,0.8) !important;
  color: #fff;
}

.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}
.second .heading{
  background-color: rgba(160,91,229,0.8);
}
.second .panel-body:hover{
  background-color: rgba(160,91,229,0.8) !important;
}
.third .heading{
  background-color: rgba(144,206,81,0.8);
}
.third .panel-body:hover{
  background-color: rgba(144,206,81,0.8) !important;
}

@media (max-width: 768px){ 
  .details p{
    margin-right: 1em;
  }
}


</style>
{% endblock content %}