{% extends "base.html" %}
{% load static %}

{% block local_styles %}
    <link rel="stylesheet" href="{% static 'css/notes.css' %}">
    <link rel="stylesheet" href="{% static 'css/study_material.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
{% endblock %}

{% block local_scripts %}
{% endblock %}

{% block title %}
    Future Links Academy - Study Material
{% endblock %}

{% block content %}
    <div class="study-material-content">
        <div class="just-padding">
            <div class="list-group list-group-root well">
                {% for object in object_list %}
                    <a href="#item-1" class="list-group-item" data-toggle="collapse">
                        <span class="glyphicon glyphicon-chevron-right"></span>{{ object.topic_name }}
                    </a>
                    <div class="list-group collapse container-fluid" id="item-1">
                        <div class="row video-section">
                            <div class="col-sm-7">
                                <p class="video-desc">
                                   {{ object.topic_description }}
                                </p>
                            </div>
                            <div class="col-sm-5 video-box">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="{{ object.video_link }}"
                                        frameborder="0" allow="fullscreen" allowfullscreen>
                                    </iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}
